.container{
    text-align: center;
}

.btn-sm{
    height: 15px;
    width: 35px;
    font-size: 10px;
    padding: 0px;
}

.tokenOutArea, .outputTextArea{
    display: inline-block;
}

.tokenoutArea-AlignRight, .outputTextArea-AlignRight{
    display: inline-block;
    text-align: right;
}